numpy
matplotlib
networkx
nltk
node2vec
gensim
ipython
Keras
Keras-Applications
Keras-Preprocessing
scikit-learn
scipy
tqdm
memory_profiler
tensorboard==1.10.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
